.sortOptions {
    display: grid;
    grid-template-columns: 65px 130px 130px 130px 130px;
    text-align: center;
}

select {
    text-align: center;
}

.KPITable {
    display: grid;
    height: 500px;
    overflow: auto;
    background-color: white;
    opacity: 0.5;
    background-image: url("/assets/bunMetric.png");
    background-repeat: no-repeat;
}

th,td {
    border: solid 1px;
    text-align: center;
}

.canvas {
    width: 100%;
    max-width: 700px;
}