body {
    background-image: url("/PersonalMaps/Stina/Billeder/christmas_time_2-wallpaper-3440x1440.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
   }