body {
    background-image: url("/PersonalMaps/Stina/Billeder/christmas_time_2-wallpaper-3440x1440.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
   }

   .Pasgen {

    display:grid;
    grid-template-columns: auto auto ;
    text-align: center;
    margin: 0 auto
   }

   